# Copy to .env locally and fill with your own values.
PORT=3000
MANGO_URI=
SESSION_SECRET=
CLOUD_NAME=
API_KEY=
API_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
